<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My FastAPI App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <H1>{{ message }}</H1>
    <p>Something else</p>

    <img style="width: 20%;" src="{{ url_for('static', path='images/ml.jpeg') }}" alt="Logo">
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>
</html>